$colors: (
  --hg-white: #fff,
  --hg-grey-00: #fafafa,
  --hg-grey-01: #f6f6f6,
  --hg-grey-02: #e8e8e8,
  --hg-grey-03: #d0d0d0,
  --hg-grey-04: #aaa,
  --hg-grey-05: #888888,
  --hg-grey-06: #535456,
  --hg-grey-07: #333,
  --hg-black: #111,
  --hg-blue-01: #e8f0f5,
  --hg-blue-02: #ebeff1,
  --hg-blue-03: #d6e1e9,
  --hg-blue-04: #cbdce9,
  --hg-blue-05: #8c9fad,
  --hg-blue-06: #768c9d,
  --hg-blue-07: #3f5e74,
  --hg-blue: #1a3f5b,
  --hg-blue-08: #132e43,
  --hg-red: #900,
  --hg-postbox: #ffc845,
  --hg-alert-red: #c51516,
  --hg-alert-yellow: #ebbd00,
  --hg-alert-green: #989e00,
  --hg-alert-green-dark: #808500,
  --hg-color: #01827e,
  --hg-color--darker: #004c4c,
  --hg-input-yellow: #fcead4
);